html,body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.background {
    width: 100%;
    height: 100%;
    background-size: 500px;
    background-image: url("../images/bg2.jpg");
    background-repeat: repeat;
}

.d1 {
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.b1 {
    width: 300px;
    color: aliceblue;
    background-color: green;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    margin-top: 50px;
    font-size: 50px;
    cursor: pointer;
}

.b2 {
    width: 300px;
    color: aliceblue;
    background-color: red;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
    margin-top: 0px;
    font-size: 50px;
    cursor: pointer;
}

.body {
    width: 370px;
    height: 500px;
    background-size: 370px, 500px;
}

.d2 {
    position: absolute;
    width: 100%;
    height: 20%;
}

.d2 button {
    width: 65px;
    height: 65px;
    background-size: 100%;
    border-radius: 50%;
    cursor: pointer;
}

.b3 {
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.b4 {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}
