html,body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.main {
    width: 100%;
    height: 100%;         
    background-image: url("../images/bg5.png");
    /*background-size: 30%;*/
    background-repeat: repeat;
}
.control {
    width: 370px;
    height: 32px;
}
.player {
    width: 370px;
    height: 110px;
}
.info {
    width: 370px;
    height: 149px;
    background-color: blanchedalmond;
}
.title {
    width: 370px;
    height: 60px;
    text-align: center;
    font-family: "Arial";
    color: #cf2a27;
    font-size: 32px;

}
.heart {
    width: 32px;
    height: 32px;
    position: relative;
    left: 5px;
    top: 5px;
    border: none;
}
.boy {
    position: relative;
    width: 58px;
    height: 73px;
    left: 115px;
    top: 37px;
}
.button {
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}
.key {
    background-color: #e7e7e7;
    color: black;
    padding: 50px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
}
button:focus {
    outline: none;
}
.button:active{
    transform: translateY(4px);
}
