html,body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    padding: 0px;
}
.main {
    width: 100%;
    height: 100%;         
    background-image: url("../images/bg5.png");
    background-repeat: repeat;

}
.control {
    width: 100%;
    height: 10%;
    margin: 10px;
}
.player {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    line-height: 10px;
    background-color: blanchedalmond;
    width: 100%;
    height: 20%;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "bold Arial";
    color: #cf2a27;
    font-size: 32px;
}
.heart {
    width: 65px;
    height: 65px;
    background-color:Transparent;
    border: Transparent;
    border-style: none;
    float: left;
    margin: auto;
    margin-right: 10px;
    margin-top: 5px;

}
.button {
    width: 65px;
    height: 65px;
    background-color:Transparent;
    border: Transparent;
    border-style: none;
    float: right;
    margin: auto;
    cursor: pointer;
}
.key {
    float: left;
    cursor: pointer;
    width: 14.2%; 
    height: 41.2%;
    font-family: fantasy;
    font-size: 35px;
    color:whitesmoke;
}
.path1 {
    width: 12%;
    height: 10%;
    background-color: rgb(172, 252, 225);
    float: left;
    animation-name: changeSize;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;  
    animation-play-state: paused;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
.path2 {
    width: 12%;
    height: 10%;
    float: left;
    background-color: rgb(172, 252, 225);
    animation-name: changePosition;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;

}
.path3 {
    width: 0px;
    height: 10%;
    background-color: whitesmoke;
    float: left;
    animation-name: changeSize;
    animation-play-state: paused;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.keyposition{
    float: left;
    /* display: flex; */
    font-family: fantasy;
    color: rgb(255,255,204);
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
}
.song{
    width: 20%;
    margin-left: -100px;
    display: inline-flex;
    white-space: nowrap;

}

@keyframes changePosition {
    0% {background-color: rgb(255, 255, 255); left: 50px;}
    100% {background-color: rgb(255, 255, 255); left: 60px}
}


@keyframes changeSize {
    0% {width: 0%; background-color: rgb(172, 252, 225);}
    100% {width: 15%; background-color: rgb(255, 255, 255);}
}

button:focus {
    outline: none;
}
.button:active{
    transform: translateY(4px);
}
.key:active{
    transform: translateY(4px);
}
