body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg,#23d5ab,#23a5d5ce, #f14ae4, #ffae18e1 );
	background-size: 250% 250%;
	-webkit-animation: gradient 10s ease infinite;
	        animation: gradient 10s ease infinite;
}

html,body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.background{
    width: 100%;
    height: 100%;
    /* background-image: url("../images/bg2.jpg"); */
    background-repeat: repeat;
    /* background-size: 500px; */
    background-size: 100%;

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 0, 85);
    line-height: 0px;
}

.scoreBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(244, 245, 190);
    border:5px solid rgb(226, 155, 3);
    width: 30%;
    height:20%;
    margin-left: 35%;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: rgb(255, 0, 85);
}

.topBar{
    width: 100%;
    height: 10%;
    margin: 10px;
}

.contain1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-name: moveup;
    animation-duration: 2s;

}

.contain2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

button{
    width: 65px;
    height: 65px;
    background-color:Transparent;
    border: Transparent;
    border-style: none;
    float: left;
    margin: auto;
    cursor: pointer;
}

@keyframes moveup {
    0% {height: 0px;}
    100% {height: 100px;}
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
